<h3>Mon Doux Compte</h3>

<hr>

<div class="user-info">

<h4>Bienvenue <b>{{userDoc.pseudo}}</b> !</h4>

<div>{{userDoc.profileImg}}</div>

<br>

<b>{{userDoc.firstName}}</b> , <b>{{userDoc.lastName}}</b>
</div>