<h1>A propos de vous</h1>



<p>
  Au quotidien, nous subissons tous de douces incivilités, en sommes témoins ou encore les commettons ! L'incivilité
  correspond à un ensemble de nuisances qui engendre un trouble anormal à l’ordre public. Là où le droit ne peut, et ne
  doit pas, pour les respect des libertés individuelles, appréhender tous les comportements répréhensibles, nous devons
  agir.

</p>


<p>
  Oui, il s'agit bien de vous, de nous, de la qualité de vie de tous les Parisiens. Nous ne souhaitons pas un monde où
  tout comportement serait encadré, sanctionné. Est-il nécessaire de créer une infraction pour ceux qui ne traversent
  pas au bon endroit ? Ceux qui jettent leurs mégots de cigarettes par terre ? Ceux qui ne sont pas courtois… ?
</p>


<p>
  Cette plateforme a pour objectif de recenser les incivilités, non pas pour les dénoncer ou les observer d’un prisme
  moralisateur. Il s’agit simplement, de mettre en lumière les comportements qui nous dérangent le plus afin, d’informer
  les pouvoirs publics et d’influencer les politiques publique en ce sens, pour une meilleure qualité de vie à Paris.
</p>

<p>
  Parisiens, visiteurs de notre capitale, sur ce site vous pouvez mettre en oeuvre votre doux pouvoir de citoyen.
</p>