<div class="req-cat-bg container-fluid">
  <div class="row d-flex flex-column ">
    <h2 class="mt-5 py-3 text-center col-xl-6 col-lg-6 m-auto">Contact</h2>
    
    <p class="p-3 text-justify col-xl-6 col-lg-6 m-auto py-4">Pour tous renseignements, contactez la <a title="Site officiel de la ville de Paris"
        target="_blank" href="https://www.paris.fr">Ville de Paris</a> par : téléphones et contacts utiles, écrire un
      message à la Maire de Paris ou
      aux services de la Ville, Paris j'écoute...</p>
  </div>{{!-- end row --}}
</div>{{!-- end container --}}

