<h2>Nos Douces Incivilités</h2>

{{> auth_message}}

{{#if loggedUser}}
<h3>Bienvenue {{loggedUser.pseudo}} !</h3>

{{else}}
<p>Pas encore de compte ? Pourquoi ne pas vous inscrire :</p>

<a href="/identification">S'inscrire</a>

{{/if}}