<h1> Categories</h1>


{{!-- this. work only with #each on HBS --}}
{{!-- <a href="/case-category">Add a book</a> --}}

<ul>
  {{#each categoryArray}}
  <li>
    <h3>{{this.name}}</h3>
    <p>by {{this.icon}}</p>

    {{!-- embed the ID of the category into the address of its page --}}
    {{!-- <a href="/category/{{this._id}}">see Book details</a> --}}

  </li>
  {{/each}}
</ul>