
  <div class="req-cat-bg container-fluid">
    <div class="row d-flex flex-column ">
      <h2 class="mt-5 py-3 text-center col-xl-8 col-lg-8 m-auto">Mention légales</h2>
  
      <p class="p-3 text-justify col-xl-8 col-lg-8 m-auto py-4">Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto rogati ad nuptias ubi aurum dextris manibus
      cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>
      <p class="p-3 text-justify col-xl-8 col-lg-8 m-auto py-4">Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto
        rogati ad nuptias ubi aurum dextris manibus
        cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>
        <p class="p-3 text-justify col-xl-8 col-lg-8 m-auto py-4">Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto
          rogati ad nuptias ubi aurum dextris manibus
          cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>
          <p class="p-3 text-justify col-xl-8 col-lg-8 m-auto py-4">Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto
            rogati ad nuptias ubi aurum dextris manibus
            cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>
    </div>{{!-- end row --}}
  </div>{{!-- end container --}}