<h1>Mention légales</h1>



<p>Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto rogati ad nuptias ubi aurum dextris manibus
  cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta.</p>