html {
  height: 100vh; }

body {
  font-family: "ABeeZee", "Saira", Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  min-height: 100%; }

h1 {
  color: #8984e4; }

h2 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  margin-top: 15px;
  color: #366e6e; }

h3 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  color: #ffc10799; }

h4 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  color: #71b1e3; }

a {
  color: #ef8d6a; }

.navbar a:hover {
  box-shadow: inset 0 0 0 25px #ffc10799; }

label {
  display: block;
  margin: 20px 5px; }

button {
  padding: 10px 30px;
  border-radius: 5px; }

ul {
  list-style: none; }

.navbar {
  background-color: #fffffd; }

.footer {
  background-color: #fffffd; }

.navbar a,
footer a {
  font-size: 1.1rem; }

.navbar a {
  color: #ef8d6a; }

.footer a {
  color: #ef8d6a; }

.nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.nav-link.current-link {
  color: #fdfcf3;
  font-size: 1.5rem; }

.logError-message {
  display: block;
  border: 3px solid orange;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px; }

.logSuccess-message {
  display: block;
  border: 3px solid #5727db;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px; }

.emailError-message {
  display: block;
  border: 3px solid #dd490a;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px; }

.passwordError-message,
.admin-error-message {
  display: block;
  border: 3px solid #b0cc14;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px; }

.logOutSuccess-message,
.add-room-success-message {
  display: block;
  border: 3px solid #14a1cc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px; }

.title-category {
  text-transform: uppercase; }

.index-inc-section {
  background-color: #ffd4ad;
  border-radius: unset; }

.index-card-body-inc {
  background-color: #ee835f;
  color: #ffd4ad; }

.index-card-img-top {
  width: 35%; }

.index-card-title-inc {
  padding: 10px 25px;
  color: #ffd4ad; }

.inc-case-bg {
  background-color: white; }

.card-img-top-inc-case {
  width: 15%; }

.card-body-inc-case {
  background-color: #6ea9c9; }

.card-text-inc-case {
  color: white; }

.card-img-top-assos {
  width: 40%; }

.inc-cat-bg {
  background-color: #ffd4ad; }

.inc-cat-bg.protection {
  background-color: #dcf2f6; }

.inc-cat-bg.tranquilite {
  background-color: #f4eedf; }

.inc-cat-bg.environnement {
  background-color: #d4f5db; }

.inc-cat-bg.dignite {
  background-color: #f7d0c2; }

.card-img-top-inc-cat {
  width: 60%; }

.card-body-inc-cat {
  background-color: #6ea8c8; }

.card-text-inc-cat {
  color: #ffd4ad; }

.cat-url-bg.protection {
  background-color: #dcf2f6; }

.cat-url-bg.dignite {
  background-color: #f7d0c2; }

.cat-url-bg.tranquilite {
  background-color: #f4eedf; }

.cat-url-bg.environnement {
  background-color: #d4f5db; }

.card-body-url-cat.protection {
  background-color: #6ea9c9; }

.card-body-url-cat.dignite {
  background-color: #e27269; }

.card-body-url-cat.tranquilite {
  background-color: #d3c99b; }

.card-body-url-cat.environnement {
  background-color: #90cc92; }

.index-req-section {
  background-color: #8cabb9;
  border-radius: unset; }

.index-card-body-req {
  background-color: #315465;
  color: #8cabb9; }

.index-card-title-req {
  padding: 10px 25px;
  color: #8cabb9; }

.req-cat-bg {
  background-color: #8cabb9; }

.card-img-top-req-cat {
  width: 60%; }

.card-body-req-cat {
  background-color: #6ea8c8; }

.card-text-req-cat {
  color: #ffd4ad; }

.signup,
.login {
  padding: 50px;
  text-align: center; }

.signup {
  background-color: #ffd4ad; }

.login {
  background-color: #8cabb9; }

.requete {
  text-align: center;
  margin: 35px auto !important; }

.myLabel {
  padding: 0 10px;
  margin: 0 !important; }

.reqList {
  text-align: center;
  padding: 50px; }
  .reqList h3 {
    margin-bottom: 30px; }
  .reqList img {
    width: 100%; }

.hh {
  background-color: #fdfcf3; }

.requete2 {
  text-align: center;
  margin: 35px auto !important; }
  .requete2 .desc {
    width: 95%;
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */