html {
  height: 100vh;
}

body {
  font-family: "ABeeZee", "Saira", Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  min-height: 100%;
}

h1 {
  color: rgb(137, 132, 228);
}

h2 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  margin-top: 15px;
  color: #366E6E;
}

h3 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  color: #ffc10799;
}

h4 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  color: #71b1e3;
}

a {
  color: #00b7ff;
}
.navbar a:hover {
  box-shadow: inset 0 0 0 25px #ffc10799;
}

label {
  display: block;
  margin: 20px 5px;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
}

ul {
  list-style: none;
}

.navbar {
  background-color: #FDFCF3;
}
.navbar a,
footer a {
  font-size: 1.2rem;

  
}

.navbar a {
  color: #EF8D6A;
}
.footer a {
color: #366E6E
}

.nav-link:hover {
-webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.nav-link.current-link {
  color: #71b1e3;
  font-size: 1.5rem;
  
}

.logError-message {
  display: block;
  border: 3px solid orange;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.logSuccess-message {
  display: block;
  border: 3px solid rgb(87, 39, 219);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.emailError-message {
  display: block;
  border: 3px solid rgb(221, 73, 10);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.passwordError-message,
.admin-error-message {
  display: block;
  border: 3px solid rgb(176, 204, 20);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.logOutSuccess-message,
.add-room-success-message {
  display: block;
  border: 3px solid rgb(20, 161, 204);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.title-category {
  text-transform: uppercase;
}

//#######################################################
// INCIVILITIES
//#######################################################

// INDEX INC
//-----------------------------------------
.index-inc-section {
  background-color: #ffd4ad;
  border-radius: unset;
}
.index-card-body-inc {
  background-color: #ee835f;
  color: #ffd4ad;
}
.index-card-img-top {
  width: 35%;
}
.index-card-title-inc {
  padding: 10px 25px;
  color: #ffd4ad;
}

// CASE INC LISTING
//-----------------------------------------
.inc-case-bg {
  background-color: #DCF2F6;
  border: black solid 1px;
}

.card-img-top-inc-case {
  width: 40%;
}
.card-body-inc-case {
  background-color: #ffd4ad;
}
.card-text-inc-case {
  color: #6EA9C9;
}

// CASE INC DETAIL
//-----------------------------------------
.card-img-top-assos {
  width: 100%;
}

// CATEGORIE INC
//-----------------------------------------
.inc-cat-bg {
  background-color: #ffd4ad;
}

.inc-cat-bg.protection {
  background-color: #DCF2F6;
}

.inc-cat-bg.tranquilite {
  background-color: #F4EEDF;
}

.inc-cat-bg.environnement {
  background-color: #D4F5DB;
}

.inc-cat-bg.dignite {
  background-color: #F7D0C2;
}

.card-img-top-inc-cat {
  width: 60%;
}

.card-body-inc-cat {
  background-color: #6ea8c8;
}

.card-text-inc-cat {
  color: #ffd4ad;
}

//#######################################################
// INC & REQ CATEGORIES
//#######################################################
.cat-url-bg.protection {
  background-color: #DCF2F6;
}

.cat-url-bg.dignite {
  background-color: #F7D0C2;
}

.cat-url-bg.tranquilite {
  background-color: #F4EEDF;
}

.cat-url-bg.environnement {
  background-color: #D4F5DB;
}

.card-body-url-cat.protection {
  background-color: #6EA9C9;
}

.card-body-url-cat.dignite {
  background-color: #E27269;
}

.card-body-url-cat.tranquilite {
  background-color: #D3C99B;
}

.card-body-url-cat.environnement {
  background-color: #90CC92;
}


//#######################################################
// REQUESTS
//#######################################################

// INDEX REQ
//-----------------------------------------
.index-req-section {
  background-color: #8cabb9;
  border-radius: unset;
}
.index-card-body-req {
  background-color: #315465;
  color: #8cabb9;
}
.index-card-title-req {
  padding: 10px 25px;
  color: #8cabb9;
}

// CATEGORIE REQ
//-----------------------------------------
.req-cat-bg {
  background-color: #8cabb9;
}

.card-img-top-req-cat {
  width: 60%;
}

.card-body-req-cat {
  background-color: #6ea8c8;
}

.card-text-req-cat {
  color: #ffd4ad;
}

.signup, .login{
  padding:50px;
  text-align:center;
}

.signup {
  background-color: #ffd4ad;
}

.login {
  background-color: #8cabb9;
}

.requete{
      text-align: center;
      margin: 35px auto  !important;
}

.myLabel{
      padding: 0 10px;
      margin: 0 !important;
}

.reqList{
  text-align:center;
  padding:50px;
  h3{
    margin-bottom: 30px;
  }
  img{
        width: 100%;
  }
}

.hh {
  background-color: #579686;
}


.requete2{
      text-align: center;
      margin: 35px auto  !important;
      .desc{
        width: 95%;
    overflow: hidden;
      }
}

// NAV + FOOTER : FDFCF3

// NAV font color : EF8D6A
// Footer font color : 366E6E

// PROTECTION back : DCF2F6
// PROTECTION back title : 6EA9C9
// tranquilité : back : F4EEDF
// tranquilité  back title : D3C99B
// dignité back : F7D0C2
// dignité back title : E27269
// environnement back :D4F5DB
// environnement back title : 90CC92
