html {
  height: 100vh;
}

body {
  font-family: "ABeeZee", "Saira", Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  min-height: 100%;
}

h1 {
  color: rgb(137, 132, 228);
}

h2 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  margin-top: 15px;
  color: rgb(132, 228, 132);
}

h3 {
  font-family: "Saira", Helvetica, Arial, sans-serif;
  color: pink;
}

a {
  color: #00b7ff;
}

label {
  display: block;
  margin: 20px 5px;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
}

ul {
  list-style: none;
}

.navbar {
  background-color: #ffc10799;
}
.navbar a,
footer a {
  font-size: 1.2rem;
}

.logError-message {
  display: block;
  border: 3px solid orange;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.logSuccess-message {
  display: block;
  border: 3px solid rgb(87, 39, 219);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.emailError-message {
  display: block;
  border: 3px solid rgb(221, 73, 10);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.passwordError-message,
.admin-error-message {
  display: block;
  border: 3px solid rgb(176, 204, 20);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.logOutSuccess-message,
.add-room-success-message {
  display: block;
  border: 3px solid rgb(20, 161, 204);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 10px;
}

.title-category {
  text-transform: uppercase;
}

//#######################################################
// INCIVILITIES
//#######################################################

// INDEX INC
//-----------------------------------------
.index-inc-section {
  background-color: #ffd4ad;
  border-radius: unset;
}
.index-card-body-inc {
  background-color: #ee835f;
  color: #ffd4ad;
}
.index-card-img-top {
  width: 60%;
}
.index-card-title-inc {
  padding: 10px 25px;
  color: #ffd4ad;
}

// CASE INC LISTING
//-----------------------------------------
.inc-case-bg {
  background-color: greenyellow;
  border: black solid 1px;
}

.card-img-top-inc-case {
  width: 40%;
}
.card-body-inc-case {
  background-color: #ffd4ad;
}
.card-text-inc-case {
  color: greenyellow;
}

// CASE INC DETAIL
//-----------------------------------------
.card-img-top-assos {
  width: 100%;
}

// CATEGORIE INC
//-----------------------------------------
.inc-cat-bg {
  background-color: #ffd4ad;
}

.card-img-top-inc-cat {
  width: 60%;
}

.card-body-inc-cat {
  background-color: #6ea8c8;
}

.card-text-inc-cat {
  color: #ffd4ad;
}

//#######################################################
// INC & REQ CATEGORIES
//#######################################################
.cat-url-bg {
  background-color: #daf1f5;
}

//#######################################################
// REQUESTS
//#######################################################

// INDEX REQ
//-----------------------------------------
.index-req-section {
  background-color: #8cabb9;
  border-radius: unset;
}
.index-card-body-req {
  background-color: #315465;
  color: #8cabb9;
}
.index-card-title-req {
  padding: 10px 25px;
  color: #8cabb9;
}

// CATEGORIE REQ
//-----------------------------------------
.req-cat-bg {
  background-color: #8cabb9;
}

.card-img-top-req-cat {
  width: 60%;
}

.card-body-req-cat {
  background-color: #6ea8c8;
}

.card-text-req-cat {
  color: #ffd4ad;
}

// NAV + FOOTER : FDFCF3

// NAV font color : EF8D6A
// Footer font color : 366E6E

// PROTECTION back : DCF2F6
// PROTECTION back title : 6EA9C9
// tranquilité : back : F4EEDF
// tranquilité  back title : D3C99B
// dignité back : F7D0C2
// dignité back title : E27269
// environnement back :D4F5DB
// environnement back title : 90CC92
