<div class="log-container container-fluid">

  <div class="row no-glutter">

<section class="signup col-lg-6">

  <h2>Inscription</h2>

   {{> auth_message}} 

  <form action="/verif-signup" method="post" enctype="multipart/form-data">
    <label>
      <b>Nom</b> (obligatoire):
      <input type="text" name="lastName" placeholder="Votre nom" required>
    </label>

    <label>
      <b>Prénom</b> (obligatoire):
      <input type="text" name="firstName" placeholder="Votre prénom" required>
    </label>

    <label>
      <b>Pseudo</b> (obligatoire):
      <input type="text" name="pseudo" placeholder="Votre pseudo" required>
    </label>

    <label>
      <b>Adresse email</b> (obligatoire):
      <input type="email" name="email" placeholder="Votre adresse email" required>
    </label>

    <label>
      <b>Mot de passe</b> (doit contenir un chiffre entre 0-9):
      <input type="password" name="originalPassword" placeholder="Enter your password" required>
    </label>

    <label>
      <b>Votre âge</b> (obligatoire):
      <input type="number" name="age" placeholder="Votre âge" required>
    </label>

    <label>
      <b>Votre photo de profile</b> (jpeg, jpg, png ):
      <input type="file" name="pictureUpload">
    </label>
    <button>S'inscrire</button>
  </form>

</section>

<section class="login col-lg-6">

  <h2>Connexion</h2>

  {{> auth_message}}

  <form action="/verif-login" method="post">

    <label>
      <b>Adresse email</b> (obligatoire):
      <input type="email" name="email" placeholder="Votre adresse email" required>
    </label>
    
    <label>
      <b>Mot de passe</b> (doit contenir un chiffre entre 0-9):
      <input type="password" name="originalPassword" placeholder="Enter your password" required>
    </label>

    <button>Se connecter</button>
  </form>

</section>

</div>

</div>

