<H1>TEST</H1>

<h2> {{incivilityResults}}</h2>


{{#each incivilityResults}}
<li>
  <a href="/incivilites-categories-Protection-cases-{{this.name}}">
    <h3>{{this.name}}</h3>
  </a>

</li>
{{/each}}
</ul>