<h2> Douces Incivilités </h2>

<ul>
  {{#each categoryArray}}
  <li>
    <p> {{this.icon}}</p>
    <a href="/incivilites-categorie/{{this.urlName}}">
      <h3>{{this.name}}</h3>
    </a>
  </li>
  {{/each}}
</ul>